.manual-register__input {
    max-width: 432px;
    flex: 1;
}

.manual-register__origin {
    display: flex;
    flex-direction: row;
    max-width: 432px;
}

.manual-register__origin div:not(:last-child) {
    margin-right: var(--spacing-xs);
}

.manual-register__additional-form {
    background-color: var(--grey-bg);
    padding: var(--spacing-l);
    margin-bottom: var(--spacing-xl);
}

.manual-register__changed-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0 24px;
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.manual-register__changed-input {
    flex: 1;
    max-width: 412px;
}

.manual-register__alert {
    max-width: 432px;
    margin-bottom: var(--spacing-xl);
    border-radius: 2px;
}

@media (max-width: 768px) {
    .manual-register__changed-form {
        flex-direction: column;
    }
}

@media (max-width: 715px) {
    .manual-register__origin {
        flex-direction: column;
    }
    .manual-register__origin div:not(:last-child) {
        margin-bottom: var(--spacing-xs);
        margin-right: 0;
    }
}
