.main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main__alert {
    height: 40px;
    border-radius: 2px;
}

.main__stat-container {
    flex-wrap: wrap;
    margin-top: var(--spacing-l);
    padding-bottom: var(--spacing-2l);
    gap: var(--spacing-s);
}

.main__stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--neutral);
    border-radius: 4px;
    height: 117px;
    width: 218px;
}

.main__card-title {
    color: var(--secondary);
    padding-bottom: var(--spacing-xs);
}

.main__card-number {
    font-size: 38px;
    line-height: 46px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .main__stat-item {
        height: 140px;
        min-width: 120px;
        max-width: 175px;
    }
}
