.table {
    padding: 0 24px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    overflow-x: auto;
}

.table__pagination {
    width: auto;
    justify-self: end;
    min-width: 600px;
}

@media (max-width: 767px) {
    .table__pagination {
        padding: 0;
    }

    .pagination {
        justify-self: start;
        margin-left: 16px !important;
        justify-content: flex-start !important;
    }
}
